body{
    margin: 0px;
    font-family: 'Cabin', sans-serif;
}
h1{
    color: darkblue;
    font-size: 50px;
}
.name-color{
    color: goldenrod;
}
.front-section{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 2%;
}
.front-section img{
    width: 80%;
}
.top-background{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    font-weight: 600;
    padding: 10px 20px;
}