body{
    font-family: 'Cabin', sans-serif;
}
h1{
    color: darkblue;
    font-size: 50px;
}
.name-color{
    color: goldenrod;
}
.front-section{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.front-section img{
    width: 100%;
}